#page1 {
        background-image: url("../images/IMG_1483.JPG");
}
#about {
        background-image: url("../images/ripe-coffee2.jpg");
}
#contacts {
        background-image: url("../images/ripe-coffee.jpg");
}
.section {
        background-size: cover;
        color: whitesmoke;
        text-align: center;
}
html.fp-enabled {
        overflow: hidden !important;
}
#logo img {
        position: fixed;
        top: 1%;
        left: 35%;
        height: 30%;
        width: 30%;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
        background-color: white !important;
        height: 15px !important;
        width: 15px !important;
}
h2, h3, h4, h5 {
        font-weight: 700 !important;
}
.slide {
        background-color: rgba(0,0,0,0.3); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
}